
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------------------------------ESTILOS GENERALES----------------------------------------*/

body {
  overflow-x: hidden;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 5px;
  margin-bottom: 0 auto;
}

li {
  display: flex;
  color: #111;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  align-items: center;
  justify-content: left;
  line-height: 50px;
  width: 170px;
  height: 70px;
}


ul li:hover {
  background: white;
  color: black;
  border-radius: 40px;
}

ul li:nth-child(1) {
  background: transparent;
  margin-left: 0;
}

nav{
  width: 100%;
}

.navbar{
  align-items:flex-start;
  padding-top: 0;
  z-index: 1020;
}

.avatar{
  text-align: center;
  border: none;
  background: #fff;
}

span{
  align-self: flex-start;
  text-align: center;
  color: #111;
  margin-right: 5px;
}

a {
  color: #fff;
  text-decoration: none;
  opacity: 0,5;
  transition: 0,3s;
  margin-left: 10px;
}


a:hover {
  opacity: 1;
  border-bottom: 1px solid #8cffa0;
  border-top: 1px solid #8cffa0;
  color: black;
}

.tarjeta:hover{
  background: rgba(128, 0, 128, 0.671);
  color: #fff;
}

main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
}


input{
  align-self: center;
  width: 200px;
  height: 30px;
  margin: 50px;
  padding: 10px;
  border-radius: 60px;
  text-align: center;
}


img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  
}

h1{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  margin: 0 auto;
  padding: 5px;
}

.logo a:hover{
  border: 0;
  color: #fff;
}

/*------------------------------------ESTILOS INDEX----------------------------------------*/

.contenedor_grid {
  display: grid;
  width: 100%;
  grid-template-areas: 
  "nav head head head head head head head head head head head"
  "nav  main main main main main main main main main main main"
  "nav  foot foot foot foot foot foot foot foot foot foot foot";
  grid-template-rows: 60px 1fr 1fr;
  grid-template-columns: 140px repeat(11, 1fr);
}

.contenedor_grid > header {
  grid-area: head;
  background-color: black;
  color: #fff;
  text-shadow: 2px 2px 2px #8cffa0;
}

.header_flex{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 5px;
}

.header_flex div{
  width: 50px;
  height: 50px;
  border: groove .5em purple;
  border-radius: 80% 80% 80%;
  background: #fff;
  text-align: center;
  padding: 5px;
}
.contenedor_grid > nav {
  grid-area: nav;
  background-color: purple;
}

.contenedor_grid > main {
  grid-area: main;
  background-color: #fff;
  height: 100vh;
}


/*------------------------------------TARJETAS PANEL PRINCIPAL----------------------------------------*/


.tarjeta{
  display: flex;
  justify-content: center;
  width: 30%;
  height: 30%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px 2px #999;
  border-radius: 70px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  z-index: 1040;
  transition: 1s;
}

.tarjeta_balance {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 60%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px 2px #999;
  border-radius: 70px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: 1s;
}

.tarjeta_balance:hover{
  background: rgba(128, 0, 128, 0.671);
  color: #fff;
}

.tarjeta_contacto {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 60%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px 2px #999;
  border-radius: 70px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: 1s;
}

.tarjeta_contacto:hover {
  background: rgba(128, 0, 128, 0.671);
  color: #fff;
}

.banner{
  width: 500px;
}

#banner_img{
  width: 500px;
  height: 300px;
}
/*------------------------------------PAGINA CLIENTES----------------------------------------*/

.cont_form {
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1{
  margin-bottom: 100px;
}
.form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

.form button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
}

.adherir {
  width: 50px;
  height: 50px;
  border-radius: 80% 80% 80%;
  background: #fff;
}

.cont_img_clientes{
  padding: 100px 40px;
}

#img_clientes{
  width: 500px;
  height: 300px;
  margin: auto auto;
}

.base_clientes {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 50%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px 2px #999;
  border-radius: 70px;
  text-align: center;
  margin: 20px;
  padding: 20px;

}

/*------------------------------------PAGINA VENTAS----------------------------------------*/

.base_ventas{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 70%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px 2px #999;
  border-radius: 70px;
  text-align: center;
  margin: 20px;
  padding: 50px;

}

.form-row{
  display: flex;
  position: relative;
  width: 600px;
  height: 120px;
  margin: 20px;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.adherir_ventas {
  width: 50px;
  height: 50px;
  border-radius: 80% 80% 80%;
  background: #fff;
  margin: 0 auto;
}

.form-row div{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 30px;
  margin: 0;
}

.form-row div div{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  margin: 0;
}

.form-row label {
  width: 120px;
}

.form-row input {
  width: 200px;
  margin: 0;
}

/*------------------------------------PAGINA PERFIL----------------------------------------*/

.tarjeta_perfil{
  display: flex;
  justify-content: center;
  width: 30%;
  height: 50%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px 2px #999;
  border-radius: 70px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  z-index: 1040;
  transition: 1s;
}




/*------------------------------------FOOTER----------------------------------------*/

footer {
  align-self: flex-end;
}

.contenedor_grid > footer {
  grid-area: foot;
  justify-self: center;
  border-radius: 70px;
  width: 90%;
  background-color: #111;
  color: #fff;
}


.footer_flex{
  display: flex;
  width: 100%;
  height: 250px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.footer_secciones{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 200px;
  margin: 0 auto;
}

.footer_pagos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 200px;
  margin: 0 auto;
}

.footer_contacto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 200px;
  margin: 0 auto;
}


/*------------------------------------RESPONSIVE DESIGN----------------------------------------*/


@media (max-width: 320px) {
   .tarjeta {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .tarjeta {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .tarjeta {
    width: 100%;
  }
}