
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 5px;
  margin-bottom: 0 auto;
}

li {
  display: flex;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  align-items: center;
  justify-content: left;
  line-height: 50px;
  width: 170px;
  height: 70px;
}

ul li:hover {
  background: white;
  color: black;
  border-radius: 40px;
}

ul li:nth-child(1) {
  background: transparent;
  margin-left: 0;
}

nav{
  width: 100%;
}

.navbar{
  align-items:flex-start;
  padding-top: 0;
}

span{
  align-self: flex-start;
  text-align: center;
  color: #111;
  margin-right: 5px;
}

a {
  color: #fff;
  text-decoration: none;
  opacity: 0,5;
  transition: 0,3s;
  margin-left: 10px;
}


a:hover {
  opacity: 1;
  border-bottom: 1px solid #8cffa0;
  border-top: 1px solid #8cffa0;
  color: black;
}

.tarjeta:hover{
  background: rgba(128, 0, 128, 0.671);
  color: #fff;
}

main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
}

.contenedor_grid {
  display: grid;
  width: 100%;
  grid-template-areas: 
  "nav head head head head head head head head head head head"
  "nav  main main main main main main main main main main main"
  "nav  foot foot foot foot foot foot foot foot foot foot foot";
  grid-template-rows: 60px 1fr 1fr;
  grid-template-columns: 140px repeat(11, 1fr);
}

.contenedor_grid > header {
  grid-area: head;
  background-color: black;
  color: #fff;
  text-shadow: 2px 2px 2px #8cffa0;
}

.header_flex{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 5px;
}

.header_flex div{
  width: 50px;
  height: 50px;
  border: groove .5em purple;
  border-radius: 80% 80% 80%;
  background: #fff;  
}

input{
  align-self: center;
  width: 200px;
  height: 30px;
  margin: 50px;
  padding: 10px;
  border-radius: 60px;
}


img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  
}

.logo a:hover{
  border: 0;
  color: #fff;
}

h1{
  font-size: 30px;
  margin: 0 auto;
  padding: 5px;
}

.contenedor_grid > nav {
  grid-area: nav;
  background-color: purple;
}

.contenedor_grid > main {
  grid-area: main;
  background-color: #fff;
  height: 100vh;
}

.tarjeta{
  display: flex;
  justify-content: center;
  width: 30%;
  height: 30%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px 2px #999;
  border-radius: 70px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.tarjeta_balance {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 60%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px 2px #999;
  border-radius: 70px;
  text-align: center;
  margin: 20px;
  padding: 20px;

}

.tarjeta_contacto {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 60%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px 2px #999;
  border-radius: 70px;
  text-align: center;
  margin: 20px;
  padding: 20px;

}

footer {
  align-self: flex-end;
}

.contenedor_grid > footer {
  grid-area: foot;
  justify-self: center;
  border-radius: 70px;
  width: 90%;
  background-color: #111;
  color: #fff;
}


.footer_flex{
  display: flex;
  width: 100%;
  height: 250px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.footer_secciones{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 200px;
  margin: 0 auto;
}

.footer_pagos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 200px;
  margin: 0 auto;
}

.footer_contacto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 200px;
  margin: 0 auto;
}

@media (max-width: 320px) {
  .tarjeta {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .tarjeta {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .tarjeta {
    width: 100%;
  }
}