
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}


ul {
  list-style: none;
  padding: 5px;
  margin-bottom: 0 auto;
}

li {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  text-align: center;
  /*text-shadow: 2px 2px 2px limegreen;*/
  line-height: 50px;
}

a {
  color: antiquewhite;
  text-decoration: none;
  opacity: 0,5;
  transition: 0,3s;
}

header a:hover {
  border: 0;
}

a:hover {
  color: #8cffa0;
  opacity: 1;
  border-bottom: 1px solid #8cffa0;
  border-top: 1px solid #8cffa0;
}

.contenedor_grid {
  display: grid;
  width: 100%;
  grid-template-areas: 
  "head head head head head head head head head head head head"
  "nav  main main main main main main main main main main main"
  "nav  foot foot foot foot foot foot foot foot foot foot foot";
  grid-template-rows: 60px 1fr 1fr;
  grid-template-columns: 180px repeat(11, 1fr);
}

.contenedor_grid > header {
  grid-area: head;
  background-color: black;
  color: #fff;
  text-shadow: 2px 2px 2px #8cffa0;
}

.header_flex{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 5px;
}

.header_flex div{
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) 1;
  border-radius: 10px;
}

.header_flex img{
  width: 50px;
  height: 50px;
}

.img_container{
  margin: 0 60px;
  
}

h1{
  font-size: 30px;
  margin: 0 auto;
  padding: 5px;
}

.contenedor_grid > nav {
  grid-area: nav;
  background-color: black;
}

.contenedor_grid > main {
  grid-area: main;
  background-color: whitesmoke;
  height: 100vh;
}

footer {
  align-self: flex-end;
}

.contenedor_grid > footer {
  grid-area: foot;
  background-color: #8cffa0;
}


.footer_flex{
  display: flex;
  width: 100%;
  height: 250px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.footer_secciones{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 200px;
  margin: 0 auto;
}

.footer_pagos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 200px;
  margin: 0 auto;
}

.footer_contacto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 200px;
  margin: 0 auto;
}
